## Programs on Set

### Basic set programs

##### 1.Create a set and display its elements

In [1]:
my_set={10,20,30,40,50}
print("The elements in the set are : ")
for element in my_set:
    print(element)

The elements in the set are :
50
20
40
10
30

##### 2.Add an element to a set

In [7]:
my_set = {1,2,3}
my_set.add(4)
print("Set after  : ",my_set)

Set after  :  {1, 2, 3, 4}

##### 3.Remove an element from a set

In [13]:
my_set = {12,34,45,65}
my_set.remove(45)
print("Set after : ",my_set)

Set after :  {65, 34, 12}

##### 4.Clear all elments from set

In [15]:
my_set = {12,34,45,65}
my_set.clear()
print("Set after : ",my_set)

Set after :  set()

##### 5.Copy a set to another set

In [17]:
original_set = {100,200,300}
copied_set = original_set.copy()

print("Original Set: ",original_set)
print("Copied Set: ",copied_set)

Original Set:  {200, 100, 300}
Copied Set:  {200, 100, 300}

##### 6.Check if an element exist in a set

In [21]:
my_set = {10,20,30,40,50}
if 30 in my_set:
    print("Element 30 exists in the set.")
else:
     print("Element 30 does not exists in the set.")

Element 30 exists in the set.

##### 7.Find the length of a set

In [23]:
my_set = {10,20,30,40,50}
len(my_set)
print("The length of the set is : ",len(my_set))

The length of the set is :  5

##### 8.Iterate through a set using a loop

In [27]:
my_set = {10,20,30,40,50}
print("Iterating through the set: ")
for element in my_set:
    print(element)

Iterating through the set:
50
20
40
10
30

### Set Operations

##### 9.Find the union of two sets

In [29]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
union_set = set1.union(set2)
print("Union of set1 and set2 is: ",union_set)

Union of set1 and set2 is:  {1, 2, 3, 4, 5, 6}

##### 10.Find the intersection of two sets

In [31]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
intersection_set = set1.intersection(set2)
print("Tntersection of set1 and set2 is : ",intersection_set)

Tntersection of set1 and set2 is :  {3, 4}

##### 11.Find the difference between two sets

In [33]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
difference = set1-set2
print("Difference between set1 and set2 is: ",difference)

Difference between set1 and set2 is:  {1, 2, 3}

##### 12.Find the symmetric difference between two sets

In [35]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric difference between set1 and set2 is: ",symmetric_difference )

Symmetric difference between set1 and set2 is:  {1, 2, 3, 6, 7, 8}

##### 13.Check if one set is subset of another

In [37]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}
is_subset=set1.issubset(set2)
if is_subset:
    print("Set is a subset of set2")
else:
    print("Set is NOT a subset of set2")

Set is a subset of set2

##### 14.Check if one set is superset of another

In [39]:
set1={1,2,3,4,5}
set2={2,3}
is_superset=set1.issuperset(set2)
if is_superset:
    print("Set is a superset of set2")
else:
    print("Set is NOT a superset of set2")

Set is a superset of set2

##### 15.Check if two sets are disjoint

In [41]:
set1={1,2,3}
set2={4,5,6}
are_disjoint = set1.isdisjoint(set2)
if are_disjoint:
    print("set1 and set2 are disjoint (no common elements)")
else:
     print("set1 and set2 are NOT disjoint (they share common elements)")

set1 and set2 are disjoint (no common elements)

### Set Applications

##### 16.Remove duplicates from a list using set

In [43]:
original_list=[1,2,2,3,4,4,5,1,6]
unique_list=list(set(original_list))
print("Original list: ",original_list)
print("List after removing duplicates: ",unique_list)

Original list:  [1, 2, 2, 3, 4, 4, 5, 1, 6]
List after removing duplicates:  [1, 2, 3, 4, 5, 6]

##### 17.Convert a list to a set and back to a list

In [52]:
original_list=[1,2,2,3,4,4,5]
temp_set=set(original_list)
final_list=list(temp_set)
print("Original list: ",original_list)
print("After converting to set (duplicates removed): ",temp_set)
print("After converting back to list: ",final_list)

Original list:  [1, 2, 2, 3, 4, 4, 5]
After converting to set (duplicates removed):  {1, 2, 3, 4, 5}
After converting back to list:  [1, 2, 3, 4, 5]

##### 18.Find common elements in two lists using sets

In [54]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
set1=set(list1)
set2=set(list2)
common_elements=set1 & set2
common_list=list(common_elements)
print("Common elements:",common_list)

Common elements: [4, 5]

##### 19.Get elements in one list but not in another using sets

In [56]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
set1=set(list1)
set2=set(list2)
difference=set1-set2
result_list=list(difference)
print("Elements in list1 but not in list2:",result_list)

Elements in list1 but not in list2: [1, 2, 3]

##### 20.Use set comprehension to generate a set (squares)

In [58]:
squares={x**2 for x in range(1,11)}
print("Set of squares from 1 to 10:",squares)

Set of squares from 1 to 10: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

##### 21.Create a print a frozen set

In [60]:
normal_set={1,2,3,4,5}
frozen = frozenset(normal_set)
print("Frozenset:",frozen)

Frozenset: frozenset({1, 2, 3, 4, 5})